<div class="justify-center mt-10">
    <div class="flex justify-center">
        <h1>Select A Game Mode</h1>
    </div>
    <div class="flex justify-center">
        <div class="mr-4">
            <!-- add cards for user to select which game mode they want to select -->
            <div (click)="selectSingle()" class="cursor-pointer block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Single Player</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">See if you can beat the computer</p>
            </div>
        </div>
        <div>
            <div (click)="selectMultiplayer()" class="cursor-pointer block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Multiplayer</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">Play with friends in the same browser</p>
            </div>
        </div>
    </div>
</div>